In [1]:
import pandas as pd 
from functions.ImportaRelatorios import VendasPorDatas

In [2]:
df = VendasPorDatas()
df.tail()

            DINHEIRO  CREDIÁRIO  CONVÊNIO    CARTÃO  TOTAL VENDAS
DATA
2022-03-15   5001.01     165.87    172.16  13516.39      18855.43
2022-03-16   4723.32     640.89    468.35  12656.35      18488.91
2022-03-17   4630.61     276.75     54.98  14597.78      19560.12
2022-03-18   3883.39     135.09    334.75  10381.11      14734.34
2022-03-19   4402.19      93.88    228.89  11053.66      15778.62