In [1]:
import pandas as pd 
from functions.ImportaRelatorios import VendasPorDatas

In [2]:
df = VendasPorDatas()
df

,DINHEIRO,CREDIÁRIO,CONVÊNIO,CARTÃO,TOTAL VENDAS,TOTAL ACUMULADO
DATA,,,,,,
2022-03-01,5102.69,397.57,70.45,14866.78,20437.49,20437.49
2022-03-02,4779.71,216.77,501.19,14868.47,20366.14,40803.63
2022-03-03,6138.03,225.97,245.28,14883.96,21493.24,62296.87
2022-03-04,6783.86,267.35,223.07,19810.93,27085.21,89382.08
2022-03-05,6011.95,291.69,443.23,16459.16,23206.03,112588.11
2022-03-06,4240.40,128.25,120.18,13034.83,17523.66,130111.77
2022-03-07,4513.68,150.40,308.46,12049.03,17021.57,147133.34
2022-03-08,6259.13,558.61,164.29,15180.41,22162.44,169295.78
2022-03-09,5426.17,417.26,457.88,14576.12,20877.43,190173.21
2022-03-10,4701.59,399.70,477.08,13204.89,18783.26,208956.47
2022-03-11,4992.72,123.87,159.68,16304.09,21580.36,230536.83
2022-03-12,6094.15,13.00,90.92,13323.97,19522.04,250058.87
2022-03-13,3010.58,149.97,86.88,8664.91,11912.34,261971.21
2022-03-14,5281.22,285.98,469.68,11942.95,17979.83,279951.04
2022-03-15,5001.01,165.87,172.16,13516.39,18855.43,298806.47
2022-03-16,4723.32,640.89,468.35,12656.35,18488.91,317295.38
2022-03-17,4630.61,276.75,54.98,14597.78,19560.12,336855.50
2022-03-18,3883.39,135.09,334.75,10381.11,14734.34,351589.84
2022-03-19,5329.15,351.88,228.89,12484.10,18394.02,369983.86
2022-03-20,2430.91,0.00,54.65,7162.15,9647.71,379631.57
2022-03-21,4872.78,270.18,400.92,12999.46,18543.34,398174.91
2022-03-22,4819.31,481.60,420.89,13212.55,18934.35,417109.26
2022-03-23,3864.03,26.98,86.70,10714.83,14692.54,431801.80
2022-03-24,3647.00,122.49,125.11,13107.67,17002.27,448804.07
2022-03-25,4760.30,130.20,350.97,11393.68,16635.15,465439.22
2022-03-26,4155.88,343.18,146.14,11553.65,16198.85,481638.07
2022-03-27,2540.33,69.98,247.82,6804.99,9663.12,491301.19
2022-03-28,4399.63,79.49,551.49,11156.86,16187.47,507488.66
2022-03-29,5472.16,57.50,766.05,11105.11,17400.82,524889.48
2022-03-30,11155.51,134.02,378.43,10473.57,22141.53,547031.01
2022-03-31,5095.32,329.36,335.67,15612.78,21373.13,568404.14